.slider {
  &.-apparel {
    width: 50%;
  }
  > .operation-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > .title {
      margin-left: 56px;
    }

    > .button-area {
      display: flex;
      margin-right: 55px;
      > .button {
        background-color: $color-gray;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          background-color: $color-gray-dark-weak;
        }
        > .button-image {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  > .item-area {
    display: flex;
    overflow-x: scroll;
    padding-left: 56px;
    > .item {
      margin-right: 10px;
      > .item-image {
        height: 380px;
      }
    }
  }
}
