.search-form {
  display: flex;
  align-items: center;
  background-color: rgba(229, 229, 229, $opacity-strong);
  height: 40px;
  width: 180px;
  border-radius: 25px;
  margin-right: -5px;
  &:hover {
    background-color: $color-gray-rgba;
    > .field {
      opacity: 1;
    }
  }
  > .icon-button {
    height: 36px;
    width: 40px;
    border-radius: 50%;
    &:hover {
      background-color: $color-gray-rgba;
    }
    > .icon {
      height: 24px;
      width: 24px;
      margin-top: 5px;
    }
  }
  > .field {
    opacity: $opacity-strong;
    border: none;
    outline: none;
    width: 100px;
    font-size: $base-font-size;
  }
}
