.o-layout-header {
  background-color: $color-gray-light;
  > .headerTop {
    display: flex;
    justify-content: space-between;
    padding: 0 42px 0 40px;
    align-items: center;
    > .menu {
      display: flex;
      > .item {
        margin: 0 6px;
        font-size: $font-size-small;
        opacity: $opacity-weak;
        > .link {
          &:hover {
            color: $color-gray-dark;
          }
        }
      }
    }
  }
  > .headerMain {
    position: relative;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: 10px 34px 10px 48px;
    align-items: center;
    > .menu {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      margin-top: -4px;
      > .item {
        > .link {
          padding: 16px 12px 18px;
          font-weight: 500;
          &:hover {
            border-bottom: 2.8px solid $color-black-light;
          }
        }
      }
    }
    > .operationArea {
      display: flex;
      > .iconArea {
        margin-left: 20px;
      }
    }
  }
  > .headerBottom {
    background-color: $color-gray-light;
    border-bottom: 1px solid $color-gray;
    > .message {
      font-size: $font-size-medium;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 2px;
      line-height: 20px;
      > .subMessage {
        font-size: $font-size-small;
        > .link {
          text-decoration: underline;
        }
      }
    }
  }
}

.o-layout-main {
  margin: 0 56px;
  > .sectionArea {
    margin-bottom: 80px;
    > .link {
      &.-positionRel {
        position: relative;
      }
      > .content {
        text-align: center;
        margin-top: 40px;
        &.-positionAbsLeft {
          text-align: initial;
          position: absolute;
          top: -160px;
          left: 30px;
        }
        > .textArea {
          margin-bottom: 15px;
          > .title {
            margin-bottom: 30px;
            opacity: $opacity-weak;
            &.-white {
              color: $color-white;
              opacity: initial;
            }
          }
          > .message {
            opacity: $opacity-weak;
            width: 60%;
            margin: auto;
          }
        }
        > .buttonArea {
          width: 60%;
          margin: auto;
          &.-positionAbsLeft {
            width: initial;
            margin: initial;
          }
        }
      }
    }
  }
}

.o-layout-footer {
  > .content {
    display: flex;
    justify-content: space-between;
    background-color: $color-black;
    padding: 40px 40px 50px;
    > .menuArea {
      display: flex;
      > .menu {
        width: 260px;
        > .menuItem {
          margin-bottom: 4px;
          &.-sub {
            margin-bottom: 0px;
          }
          > .link {
            color: $color-white;
            font-size: $font-size-medium;
            &.-sub {
              font-size: $font-size-small;
              opacity: $base-opacity;
              &:hover {
                opacity: initial;
              }
            }
          }
        }
      }
    }
  }
}
