$base-font-size: 16px;
$base-line-height: 28px;

$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-large: 24px;

$color-white: #fff;
$color-black: #000000;
$color-black-light: #111111;

$color-gray: #e5e5e5;
$color-gray-rgba: rgba(229, 229, 229, 1);
$color-gray-light: #f5f5f5;
$color-gray-dark: #7e7e7e;

$base-opacity: 0.5;
$opacity-strong: 0.3;
$opacity-weak: 0.75;

$base-font-family: "Helvetica Neue", Helvetica, Arial, メイリオ, Meiryo,
  "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$color-text-primary: $color-black-light;
$color-text-secondary: $color-gray-dark;

$color-background-primary: $color-white;
$color-background-secondary: $color-gray-light;
